.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.show-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-container {
  background-color: #10101c;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
}

.model-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seat-img {
  height: 5%;
  width: 30%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* seats */
.seat-container {
  background-color: #0e0e18;
  height: 100%;
}

.seat-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seat-selction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seat-selction-container .screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-img {
  width: 50%;
  height: 30%;
  margin: 20px 0;
}

/* table */

table tbody th {
  color: #de3e34;
  padding: 10px;
}

/* icons */
.seat-icon {
  font-size: 24px;
  padding: 5px;
  /* transform: rotate(180deg); */
}

.seat-icon:hover {
  cursor: pointer;
  color: #bbb;
  /* transform: rotate(180deg); */
}

.payment {
  background-color: #10101c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  padding: 10px;
  width: 100%;
  height: 50px;
  opacity: 0.9;
}

.payment button {
  color: #fff;
}

@media (min-width: 360px) and (max-width: 767px) {
  .seat-heading {
    justify-content: space-evenly;
  }

  .seat-heading .heading {
    font-size: 16px;
  }

  .btn {
    padding: 10px;
  }
}
